*{
  box-sizing: border-box;

}

body{
  margin:0px;
}

.card{
  border: 1px solid #fff;
  text-align: center;
  display: block;
  border-radius: 20px 20px 20px 20px;
  height: 300px;
  width: 300px;
  box-shadow: 2.5px 2.5px 0px;
  padding: 16px;
  
}

.card img {
  border-radius: 15px 15px 15px 15px;
  width: 180px;
  height: 180px;
  padding: 5px;
  margin-top: 0px;
}

.card h2{
  font-size: 32px;
  margin-bottom:10px;
}